@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Sans4, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Sans4_italic";
  src: local("Sans4_italic"),
    url("fonts/SourceSerif4-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sans4";
  src: local("Sans4"),
    url("fonts/SourceSerif4-VariableFont.ttf") format("truetype");
  font-weight: auto;
  font-style: normal;
}
body {
  font-family: "Sans4", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
